<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= category %></title>
</head>

<body>

  <%- include('./partials/nav') %>

    <h1><%= capitalizedCategory %></h1>
    <% categoryMenu.forEach(el => { %>
      <h3>
        <%= el.name %>
      </h3>
      <h4>
        Price: $<%= el.price %>
      </h4>
      <h4>
        Rating: <%= el.rating %>
      </h4>
      <h4>
        Details: <%= el.details %>
      </h4>
      <% }) %>
</body>

</html>